body {
  background: #fafafa;
}

h1, h2 {
  text-align: center;
}
span {
  font-weight: bold;
}
code {
  background: #fff;
}
.userStories {
  margin: 0 25%;
  line-height: 25px;
  font-size: 18px;
}
.examples {
  margin: 0 25%;
  font-size: 25px;
  line-height: 40px;
  display: flex;
  flex-flow: column;
  text-align: center;
}
.output {
  margin: 0 25%;
  font-size: 18px;
}

